* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navigation {
    position: absolute;
    padding: 1.2em;
    left: 0;
    right: 0;
    display: flex;
}
.navigation > *{
    display: inline-block;
}

.menu__item {
    display: inline-block;
    padding: 0.8em;
    font-size: 2em;
    font-family: Calibri;
    font-weight: bold;
    padding-top: 0px;
}
.logo{
    margin-right: auto;
    height: 150px;
}
.logo__image {
 height: 100%;
}
.main {
 height: 100vh;
}
.main__caption {
    position: absolute;
    bottom: 30%;
    right: 20%;
}
.specs {
    font-size: 3.5em;
    list-style: none;
    background: rgba(255,255,255,0.4);
    padding: 20px 40px;
}
.spec__brand{
    font-family: "Pacifico";
}
.spec__site {
    font-family: "Press Start 2P";
}
.spec__store {
    font-family: "Fredericka the Great";
}
.specs-tree {
    height: 200vh;
    position: relative;
    background: #283837;
}
.specs-tree__button
{
    position: absolute;
    right: 50%;
    left: 50%;
    background:red;
    height: 50px;
    width: 100px;
    bottom: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.footer {
    height: 50vh;
    background: blue;
}